<section id="footer">
    <img src="Media/border2.png" id="footer-img" alt="">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                <img src="media/logo.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam expedita, totam facilis repellendus deserunt temporibus aliquam quasi ipsam eius!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores mollitia nam sapiente officiis deleniti aut voluptatibus, nesciunt qui debitis nobis sunt impedit velit asperiores reprehenderit cum provident tenetur. Nulla sint ducimus quibusdam illum vero neque provident quis quos expedita quaerat.</p>
              </div>
              <div class="col-md-4">
                <h2>Indigo pvt. ltd</h2>
                  <table>
                    <tr>
                      <td><span><i class="bi bi-buildings"></i></span></td>
                      <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus porro temporibus officiis delectus officia quis conseq modi rem eos dolores aliquid. Sunt, eum!</p></td>
                    </tr>
                    <tr>
                      <td><span><i class="bi bi-telephone"></i></span></td>
                      <td><p>9876543298</p></td> 
                    </tr>
                    <tr>
                      <td><span><i class="bi bi-phone"></i></span></td>
                      <td><p>9876545679</p></td>
                    </tr>
                    <tr>
                      <td><span><i class="bi bi-envelope"></i></span></td>
                      <td><p>yuvirawlot6@.com</p></td>
                    </tr>
                  </table>
              </div>
              <div class="col-md-4">
                  <h2>Query Form</h2>
                  <form action="" method="post">
                      <input type="email" name="" id="" placeholder="Enter Email" class="form-control form-control-lg">
                      <textarea name="" id="" placeholder="Enter Query" class="form-control mt-2 mb-2 form-control-lg"></textarea>
                      <button type="submit" class="btn btn-success form-control"  >Post Query</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <a href="#"><img src="media/instagram-icon.png" alt=""></a>
            <a href="#"><img src="media/linkedin-icon.png" alt=""></a>
            <a href="#"><img src="media/snapchat-icon.png" alt=""></a>
            <a href="#"><img src="media/twitter-icon.png" alt=""></a>
          </div>
        </div>
      </div>
  </section> 