<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
   
    <%- include('../partials/header.ejs')%>

    <section id="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Banner Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod, quae voluptate perferendis nisi similique debitis, odit voluptatem quibusdam ab est recusandae atque mollitia eius necessitatibus labore, in tempore sit?</p>
            <a href="#"><button class="btn btn-info">More Details...</button></a>
          </div>
          <div class="col-md-4">
            <img src="media/about-us.png" id="banner-img" class="img-fluid d-block mx-auto"  alt="">
          </div>
        </div>
      </div>
    <img src="media/border1.png " alt="">
    </section>
   <section id="Services"> 
      <div class="container">
     
      <div class="row">
        <h2>Services</h2>
        <div class="col-md-3">
          <img src="media/snapchat-icon.png" alt="">
          <h4>Service-1</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quam dolor, ipsa aliquam tempore ipsam laborum sit fugit, esse eum corporis at aut eveniet </p>
          <button class="btn btn-success">More Details...</button>
        </div>
        <div class="col-md-3">
          <img src="media/snapchat-icon.png" alt="">
          <h4>Service-2</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quam dolor, ipsa aliquam tempore ipsam laborum sit fugit, esse eum corporis at aut eveniet </p>
          <button class="btn btn-success">More Details...</button>
        </div>
        <div class="col-md-3">
          <img src="media/snapchat-icon.png" alt="">
          <h4>Service-3</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quam dolor, ipsa aliquam tempore ipsam laborum sit fugit, esse eum corporis at aut eveniet </p>
          <button class="btn btn-success">More Details...</button>
        </div>
        <div class="col-md-3">
          <img src="media/snapchat-icon.png" alt="">
          <h4>Service-4</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quam dolor, ipsa aliquam tempore ipsam laborum sit fugit, esse eum corporis at aut eveniet </p>
          <button class="btn btn-success">More Details...</button>
        </div>
      </div>
    </div>
   </section>
    <section id="testi">
      <div class="container">
        <div class="row">
          <h2>Testinomials</h2>
          <div class="col-md-3">
            <img src="media/instagram-icon.png" alt="">
            <p><span><i class="bi bi-quote"></i></span> ipsum dolor sit amet consectetur adipisicing elit. Incidunt nam commodi nesciunt facere laborum, laboriosam doloribus necessitatibus<span><i class="bi bi-quote"></i></span></p>
            <h4>IBM INDIA PVT LTD</h4>
          </div>
          <div class="col-md-3">
            <img src="media/instagram-icon.png" alt="">
            <p><span><i class="bi bi-quote"></i></span> ipsum dolor sit amet consectetur adipisicing elit. Incidunt nam commodi nesciunt facere laborum, laboriosam doloribus necessitatibus<span><i class="bi bi-quote"></i></span></p>
            <h4>IBM INDIA PVT LTD</h4>
          </div>
          <div class="col-md-3">
            <img src="media/instagram-icon.png" alt="">
            <p><span><i class="bi bi-quote"></i></span> ipsum dolor sit amet consectetur adipisicing elit. Incidunt nam commodi nesciunt facere laborum, laboriosam doloribus necessitatibus<span><i class="bi bi-quote"></i></span></p>
            <h4>IBM INDIA PVT LTD</h4>
          </div>
          <div class="col-md-3">
            <img src="media/instagram-icon.png" alt="">
            <p><span><i class="bi bi-quote"></i></span> ipsum dolor sit amet consectetur adipisicing elit. Incidunt nam commodi nesciunt facere laborum, laboriosam doloribus necessitatibus<span><i class="bi bi-quote"></i></span></p>
            <h4>IBM INDIA PVT LTD</h4>
          </div>
        </div>  
      </div>
    </section>
    
    <%- include('../partials/footer.ejs')%>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>